*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
kotlin-js-store/

rust/target
target/
rust/uniffi-bindgen/target

shared/src/androidMain/jniLibs
shared/src/jvmMain/jniLibs
shared/src/androidMain/kotlin/mages
shared/src/jvmMain/kotlin/mages
shared/src/jvmMain/resources

vendor/
repo/
gradle-deps/
vendor-uniffi/
webApp/src/wasm/